body {
  background-image: url(../images/crissy-jarvis-gdL-UZfnD3I-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-border {
  border: 2px solid grey;
  border-radius: 75px;
  backdrop-filter: blur(50px);
  padding: 50px;
}

.custom-form {
  width: 15%;
  margin: auto;
}

.user-chooses {
  padding: 20px;
  font-size: 20px;
}

#input-number {
  width: 5%;
  margin: auto;
  font-size: large;
}

.custom-container {
  padding: 150px;
}

input.custom-input {
  width: 20px;
  height: 20px;
}
