body {
  background: url(../images/math9_orig.jpg);
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
}

.fix {
  padding: 100px;
}

.custom-border {
  border: 2px solid grey;
  border-radius: 75px;
  backdrop-filter: blur(15px);
}

.custom-form {
  width: 9%;
  margin: auto;
}

.user-chooses-maths {
  padding: 20px;
  font-size: 20px;
}

#input-number {
  width: 5%;
  margin: auto;
  font-size: large;
}

input.equationTypes {
  width: 20px;
  height: 20px;
}

#countdown {
  padding-top: 25px;
}

#equation {
  padding: 25px;
  font-size: 50px;
}

.checkbox-inline {
  font-weight: 900;
  font-size: 20px;
}
